@model BookManagement.Models.Cart

<h1>Cart</h1>

@if (Model.CartItems.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Book</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartItems)
                {
                    var bookTotal = item.Book.Price * item.Quantity;
                    <tr>
                        <td>
                            <a asp-controller="Store" asp-action="Details" asp-route-id="@item.Id">
                                <img src="@item.Book.ImageUrl" style="height: 4em" alt="@item.Book.Title">
                            </a>
                        </td>
                        <td>
                            <a asp-controller="Store" asp-action="Details" asp-route-id="@item.Id">@item.Book.Title</a>
                        </td>
                        <td>
                            @bookTotal.ToString("c")
                        </td>
                        <td>
                            <a asp-controller="Cart" asp-action="ReduceQuantity" asp-route-id="@item.Book.Id"><i class="fa-solid fa-minus"></i></a>
                            <span class="a-cleanup">@item.Quantity</span>
                            <a asp-controller="Cart" asp-action="IncreaseQuantity" asp-route-id="@item.Book.Id"><i class="fa-solid fa-plus"></i></a>
                        </td>
                        <td>
                            <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@item.Book.Id" class="text-danger"><i class="fa-solid fa-xmark"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="text-right mt-3">
        <div class="total-container">
            <strong>Total:</strong>
            <strong>@Model?.GetCartTotal().ToString("c")</strong>
        </div>
        <a asp-controller="Order" asp-action="Checkout" class="btn btn-primary">Checkout <i class="fa-solid fa-angles-right"></i></a>
        <a asp-controller="Cart" asp-action="ClearCart" class="btn btn-danger ml-2">Empty Cart <i class="fa-solid fa-trash-can"></i></a>
    </div>
}
else
{
    <h3 class="text-center">Cart is empty</h3>
}
